{% extends 'base.html.twig' %}

{% block css %}
<link href="{{CSS_BASE_URL}}/index.css" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}

{% block title %}SuperCosto{% endblock %}

{% block body %}


<div class="row">

    <div class="col s12 m12">
      <div class="card" style="margin-top:5%;">
        <div class="card-image">
          <img src="https://tactic-center.com/wp-content/uploads/2017/07/Accesibilidad-Web-dise%C3%B1ar-para-todos-no-para-la-mayoria.jpg" style="max-height:300px;"  alt="Declaración de conformidad" title="Ilustración teclado accesible">
        </div>
        <div class="card-content">
          <p><strong>Declaración de conformidad:</strong><br /><br>
            <p>El 19 de Octubre de 2017, todo el contenido que comienza con la URL "accesibilidadlinti.000webhostapp.com/" se ajustan a las Directrices de Accesibilidad al Contenido Web 2.0 en https://www.w3.org/TR/WCAG20. Nivel AA de conformidad. </p>
            <br><br>
            <p>Para verificar la Accesibilidad del sitio actualmente se trabaja con la herramienta de evaluación WAVE. Aplicación online que revisa la accesibilidad de una página web y muestra el resultado sobre la propia página. Esta disponible como complemento de los navegadores Google Chrome y Mozilla Firefox.</p>
          </p>
          </div>
        </div>
    </div>

  </div>



{% endblock %}

{% block js %}
<script language="JavaScript" src="{{JS_BASE_URL}}/index.js"></script>
{% endblock %}
