{% extends 'base.html.twig' %}

{% block css %}
<link href="{{CSS_BASE_URL}}/index.css" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}

{% block title %}SuperCosto Contacto{% endblock %}

{% block body %}


<div class="row form">
  <h1 class="h3-text">Contactenos</h1>
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-image">
        <img src="http://letsbonus3.statics.download/products/177000/177894/13649812936325-0-680x276.jpg" alt="Personal Callcenter" title="Personal Callcenter">
        <span class="card-title" style="background-color:#000000;">Contacto</span>
      </div>
      <div class="card-content">
        <form action="{{BASE_URL}}" method="POST">
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel blue">
                <span class="white-text">
                  <ul>
                    <li><h2 class="h6-text" style="color:#000000;">* Todos los campos son requeridos.<h2></li>
                  </ul>
                </span>
              </div>
            </div>
            <div class="input-field col s12 m12 l6">
              <input id="first_name" type="text" name="name" value="" class="validate" tabindex="1" required>
              <label for="first_name">* Nombre</label>
            </div>
            <div class="input-field col s12 m12 l6">
              <input id="last_name" name="last_name" type="text" value="" class="validate" tabindex="2" required>
              <label for="last_name">* Apellido</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" name="email" type="email" value="" class="validate" tabindex="3" required>
              <label for="email">* Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" name="password" type="text" value="" class="validate" tabindex="4" required>
              <label for="password">* Direccion</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="telefono" name="telefono" type="text" value="" class="validate" tabindex="5" required>
              <label for="telefono">*Teléfono</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" name="textarea1" value="" class="materialize-textarea" tabindex="6" required></textarea>
              <label for="textarea1">*Mensaje</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <button class="btn waves-effect waves-light" style="color:#000000" type="submit" tabindex="7">Enviar </button>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>

</div>



{% endblock %}

{% block js %}
<script language="JavaScript" src="{{JS_BASE_URL}}/index.js"></script>
{% endblock %}
