{% extends 'base.html.twig' %}

{% block css %}
<link href="{{CSS_BASE_URL}}/index.css" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}

{% block title %}SuperCosto - Institucional{% endblock %}

{% block body %}


<div class="row">
  <div class="col s12 m12 l12">
    <h3>Institucional</h3>
    <div class="divider"></div>
    <div class="section">
      <div class="row">
        <div class="col s6 m6 l6">
          <div class="card">
            <div class="card-image">
              <img src="https://www.cronista.com/__export/1484166905661/sites/diarioelcronista/img/2017/01/11/inflacion.jpg_258117318.jpg" alt="Gondolas del comercio" title="Gondolas del comercio">
              <span class="card-title">En el mundo</span>
            </div>
            <div class="card-content">
              <p><b>Grupo SuperCosto:</b><br />
                Líder Mundial de distribución
                El Grupo SuperCosto es un líder de la distribución minorista en Europa y el segundo distribuidor mundial.
                Emplea a casi 365.000 personas en más de 10.100 tiendas en 34 países. Como el minorista multilocal, multiformato y multicanal,
                SuperCosto es un socio para la vida diaria. Todos los días, acoge a más de 10 millones de clientes en todo el mundo, ofreciéndoles
                una amplia gama de productos y servicios a precios justos.<br />
                <b>Un distribuidor internacional</b><br />
                Pionero en países como Brasil en 1975 o en China en 1995, el Grupo desarrolla actualmente su actividad en tres grandes mercados: Europa,
                America Latina y Asia. Presente en 30 países, realiza más del 57% de su cifra de ventas fuera de Francia.
              </p>
              </div>
            </div>
        </div>
        <div class="col s6 m6 l6">
          <div class="card">
            <div class="card-image">
              <img src="https://guias-viajar.com/wp-content/uploads/2014/03/Estocolmo-Ostermalms-Saluhall-016-2.jpg" alt="SuperCosto locales en el mundo" title="SuperCosto locales en el mundo">
              <span class="card-title">En el mundo</span>
            </div>
            <div class="card-content">
              <p><b>Promoción de las economías locales</b><br />
                  Allí donde está presente, el grupo SuperCosto es una parte
                  implicada en el desarrollo económico local. Porque el comercio es una actividad de contacto con las poblaciones, brinda sistemáticamente
                  la prioridad a la contratación local y forma in situ a sus equipos de colaboradores. El grupo SuperCosto es, con frecuencia, uno de los primeros
                  empleadores privados de los países donde esta implantado. Es el caso de Francia, por supuesto, país de origen del Grupo. </p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Nuestros Valores</h5>
      <p>
        Nuestras convicciones se rigen por tres valores: COMPROMETIDOS, ATENTOS y POSITIVOS.<br />
        Estos tres valores nos unen a nuestros clientes y consumidores y reflejan nuestra personalidad.<br />
        <ul>
          <li>Los clientes y consumidores están en el centro de todo lo que hacemos.</li>
          <li>Encantar a nuestros clientes y consumidores con productos excelentes y con servicios atractivos, de calidad SuperCosto.</li>
          <li>Nuestro valor agregado se construye con precios competitivos y una imagen de precio positiva.</li>
          <li>Hacer compras en SuperCosto es sinónimo de simplicidad, placer y de excelente relación calidad-precio.</li>
          <li>Apostamos a ser una cadena multiformato, para satisfacer las necesidades de cada tipo de cliente.</li>
          <li>Trabajamos para que SuperCosto siga siendo el comercio preferido por nuestros clientes.</li>
          <li>Aspiramos a ser líderes de todos los mercados en los que estamos presentes.</li>
          <li>Estar siempre un cuarto de hora adelante.</li>
          <li>Motivar e inspirar a los hombres y mujeres de SuperCosto para que den lo mejor de ellos mismos.</li>
          <li>Colaboradores felices hacen clientes felices.</li>
          <li>Desarrollar relaciones privilegiadas con nuestros principales proveedores y grupos de interés, basadas en un éxito
          mutuo y duradero.
          <li>Un desarrollo sustentable para todos.</li>
        </ul>
      </p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Recursos Humanos - Trabaja En SuperCosto</h5>
      <p>Una de las mayores contribuciones sociales y económicas de nuestra compañía es la generación de empleo para más de 20.000 colaboradores distribuidos a lo largo del territorio nacional. Nuestras sucursales generan un valor económico regional significativo, ya que constituyen una fuente de puestos de trabajo en las zonas urbanas periféricas sensibles. Con reglas compartidas, un diálogo social permanente y constructivo y comprometidos con el respeto de la diversidad, aspiramos a que los colaboradores se sientan parte de SuperCosto y aporten lo mejor de sí al desarrollo de los objetivos corporativos y el crecimiento sustentable de nuestra organización.</p>
    </div>
  </div>

</div>



{% endblock %}

{% block js %}
<script language="JavaScript" src="{{JS_BASE_URL}}/index.js"></script>
{% endblock %}
